body {
  background: url('../map.png') repeat 0 0;;
  background-color: white;
  background-position: center;
  font-size: 14px;}
li {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
#statusbar li {
  text-align: center;
  padding: 0;
  height: 80px;
  padding-bottom: 40px;
  width: fit-content;
}
#statusbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}
.statusbar {
  text-align: center;
  padding-top: 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 3;
}
.statusbar, .wifi {
  font-size: 50px;
  float: left;
}
.statusbar, .battery {
  font-size: 50px;
  float: right;
}
.statusbar, .time {
  font-family: sans-serif;
  text-align: center;
  font-size: 40px;
}
* {
  box-sizing: border-box;
}
#navlist {
display: flex;
justify-content: center;
align-items: center;
}
#navlist li {
  display: inline-block;
  padding-left: 20px;
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 50px;
}
.style1 {
  font-size: 50px;
  font-variant: small-caps;
  font-family: sans-serif;
  color: black;
  display: inline-block;
  width: 25%;
  text-align: right;
}
.navlist, .chevron {
  font-size: 40px;
}
.style2 {
  font-size: 50px;
  text-decoration: none;
  font-variant: small-caps;
  font-family: sans-serif;
  color: black;
  width: 70%;
}
.statusbar {
  background: white (0,0,0,0.7);
  height: 40px;
  padding: 0;
  margin: 0;
  text-align: right;
}
.text {
  color: black;
  padding-left: 45px;
  display: inline-block;
  list-style-type: none;
}
section {
  margin: 0 auto;
  width: 100%;
  padding-top: 80px;
  text-align: left;
}
ul {
  padding-top: 28px;
}
p {
  padding-top: 25px;
  padding-right: 200px;
  font-size: 48px;
  font-family: sans-serif;
  display: inline-block;
  list-style-type: none;
}
h3 {
  font-family: sans-serif;
  font-size: 2.5em;
  padding-top: 20px;
  padding-left: 25px;
  font-variant: small-caps;
  color: black;
}
.element {
  background-color: lightgray;
  height: 200px;
  width: 100%;
  opacity: 80%;
  margin-bottom: 5px;
  font-weight: 400;
}
.outofservice {
  background-color: red;
  opacity: 75%;
}
