body {
  background: url('../map.png') repeat 0 0;;
  background-color: #293742;
  background-position: center;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
li {
  width: 10%;
  display: inline-block;
  vertical-align: top;
}
#statusbar li {
  text-align: center;
  padding: 0;
  height: 80px;
  padding-bottom: 40px;
  width: fit-content;
  width: 100%;
}
#statusbar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  background: #fff;
  z-index: 1;
  height: 80px;
}
.statusbar {
  text-align: center;
  padding-top: 0px;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 3;
  color: #293742;
}
.statusbar, .wifi {
  font-size: 50px;
  float: left;
  position: absolute;
}
.statusbar, .battery {
  font-size: 50px;
  float: right;
  position: absolute;
}
.statusbar, .time {
  text-align: center;
  font-size: 30px;
  position: fixed;
  flex-wrap: wrap;
  font-weight: bold;
}
.navbar {
  height: 200px;
  background-color: white;
  width: 100%;
  position: fixed;
  margin-top: 80px;
  margin-bottom: 300px;
  display: inline-block;
  justify-content: space-between;
  z-index: 2;
  color: #293742;
}
.navbar, .back {
  font-size: 50px;
  float: left;
  display: inline-block;
  padding-top: 35px;
  padding-left: 0px;
}
.stops {
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  width: 100%;
  padding-right: 30px;
}
* {
  box-sizing: border-box;
}
#navlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
#navlist li {
  display: inline-block;
  padding-left: 20px;
  float: left;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 50px;
}
.style1 {
  font-size: 50px;
  color: #293742;
  display: inline-block;
  width: 25%;
  text-align: right;
  padding-right: 0px;
}
.navlist, .chevron {
  font-size: 40px;
}
.style2 {
  font-size: 50px;
  text-decoration: none;
  color: #293742;
  width: 85%;
  font-weight: 500;
}
.statusbar {
  background: grey (0,0,0,0.7);
  height: 40px;
  padding: 0;
  margin: 0;
  text-align: right;
  position: fixed;
}
.text {
  color: black;
  padding-left: 45px;
  display: inline-block;
  list-style-type: none;
}
navlist {
  margin: 50 auto;
  width: 100%;
  margin-top: 200px;
  text-align: left;
}
ul {
  padding-top: 28px;
}
p {
  padding-top: 25px;
  padding-right: 200px;
  font-size: 48px;
  display: inline-block;
  list-style-type: none;
}
h3 {
  font-size: 2.5em;
  padding-top: 20px;
  padding-left: 25px;
  color: #293742;}
.element1 {
  background-color: white;
  height: 200px;
  width: 100%;
  margin-bottom: 1.5px;
  font-weight: 400;
  padding-top: 280;
  color: #293742;
}
.element {
  background-color: white;
  height: 160px;
  width: 100%;
  margin-bottom: 1.5px;
  font-weight: 400;
  color: #293742;
}
.outofservice {
  background-color: #DADADA;
}
.fa-chevron-left {
  float: left;
  padding-left: 30px;
}
.toolbar1 {
  background-color: white;
  text-align: center;
  padding-top: 0px;
  margin: 0;
  width: 100%;
  height: 170px;
  position: fixed;
  z-index: 4;
  font-size: 55px;
  bottom: 0px;
  color: #293742;
}
.toolbar1 ul {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-top: 25px;
  background-color: white;
}

.toolbar1 li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}
.toolbar2 {
  background-color: white;
  text-align: center;
  padding-top: 0px;
  width: 100%;
  height: 90px;
  position: fixed;
  z-index: 4;
  font-size: 30px;
  bottom: 0px;
  font-weight: bolder;
}
.toolbar2 ul {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding-top: 20px;
  color: #293742;
}
.toolbar2 li {
  display: block;
  flex: 0 1 auto;
  list-style-type: none;
}
.directions:hover {
  color: blue;
}
.routes:hover {
  color: blue;
}
.settings:hover {
  color: blue;
}
.alarm:hover {
  color: blue;
}
.directions2:hover {
  color: blue;
}
.routes2:hover {
  color: blue;
}
.settings2:hover {
  color: blue;
}
.alert2:hover {
  color: blue;
}
